# ignore emacs specific  files
\#*.*\#
*.*~
*%*%*

# ignore zsh plugins and themes
zsh/.zsh

# ignore machine specific/private .zsh files
zsh/.private_*.zsh

# ignore .emacs.d files
transient
eshell
network-security.data
smex-*
bookmarks
recentf
history
.lsp-session*