# ignore emacs specific  files
\#*.*\#
*.*~
*%*%*

# ignore local .emacs.d because of git submodule
emacs/.emacs.d

# ignore zsh plugins and themes
zsh/.zsh

# ignore machine specific/private .zsh files
zsh/.private_*.zsh
