@theme "main_theme.rasi"

configuration {
    font: "Fura Mono NF 10";
}

window {
    width: 35%;
}

mainbox {
    children: [inputbar];
}

inputbar {
    children: [prompt, entry];
}

entry {
    placeholder: "Enter password";
}