@theme "main_theme.rasi"

window {
    width: 35%;
}

inputbar {
    children: [prompt, entry];
}

entry {
    padding: 5% 5% 5% 1%;
    placeholder: "Enter password";
}

prompt {
    padding: 5% 1% 5% 5%;
}

listview {
    lines: 0;
}