@theme "main_theme.rasi"

configuration {
    font: "Iosevka Nerd Font 12";
}

window {
    width: 10%;
    location: northeast;
    margin: 3.5% 5 0 0;
}

element {
    margin: 0.5% 0 0.5% 0;
    padding: 1%;
    children: [element-text];
}

mainbox {
    background-color: @bg;
    children: [listview];
}

listview {
    lines: 4;
}
