@theme "main_theme"

window {
    width: 25%;
}

element {
    children: [element-text];
    padding: 1%;
}

inputbar {
    children: [entry];
}

listview {
    padding: 8 0;
    background-color: @bg;
    columns: 1;
    lines: 5;
}