@theme "main_theme"

window {
    width: 25%;
    height: 35%;
}

element {
    children: [element-text];
}

inputbar {
    children: [entry];
}

listview {
    padding: 8 0;
    background-color: @bg;
    columns: 1;
    lines: 30;
}